############################
# Maven Build
############################
target/
!**/src/main/**/target/
!**/src/test/**/target/

############################
# IDE
############################
.idea/
*.iml
*.ipr
*.iws
.settings/
.classpath
.project
.vscode/

############################
# Logs
############################
logs/
*.log

############################
# OS
############################
.DS_Store
